*louisianauniversitiesmarineconsortium_evi_series.csv filter=lfs diff=lfs merge=lfs -text
*louisianauniversitiesmarineconsortium_evi_series.csv;2D;2D;2D;2D;2D;2D;2D[C filter=lfs diff=lfs merge=lfs -text
*smithsonianenvironmentalresearchcenter_evi_series.csv filter=lfs diff=lfs merge=lfs -text
